<div id="contact">
    <ul id="contacts">
        <a class="icons" href="https://www.linkedin.com/in/tothadi/" target="_blank"><i class="fa fa-linkedin-square"
                aria-hidden="true"></i></a>
        <a class="icons" href="https://facebook.com/tothadamtheoak" target="_blank"><i class="fa fa-facebook-square"
                aria-hidden="true"></i></a>
        <a class="icons" href="mailto:tothadam.onp@gmail.com" target="_top"><i class="fa fa-google-plus-square"
                aria-hidden="true"></i></a>
        <a class="icons" href="https://github.com/tothadi/" target="_blank"><i class="fa fa-github"
                aria-hidden="true"></i></a>
        <a class="icons" href="https://profile.codersrank.io/user/tothadi" target="_blank"><i class="fa fa-code"
                aria-hidden="true"></i></a>
    </ul>
    <div id="copy-right">
        <p>design &amp; code by tothadi<i class="fa fa-copyright icons" aria-hidden="true"></i>2019-2020<p>
    </div>
</div>