.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 1.5rem;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .7);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    overflow-y: scroll;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    margin: 0;
}

#refs {
    width: 90%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.ref-group {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 42%;
    height: 53vh;
    background-color: rgba(255, 255, 255, .5);
    display: flex;
    flex-flow: column;
    align-items: center;
    text-decoration: none;
    color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    overflow-y: hidden;
}

.ref-group:hover {
    background-color: rgba(0, 0, 0, .2);
}

#image {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 30%;
    width: 100%;
}

img {
    height: 90%;
    align-self: center;
}

.ref-text {
    margin-top: 5%;
    height: 65%;
    width: 90%;
}

h3 {
    font-size: 2rem;
    margin: 0;
    text-align: center;
    height: 12%;
    display: flex;
    align-content: center;
    justify-content: center;
}

h5 {
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin: 0;
    text-align: center;
    height: 20%;
    display: flex;
    align-content: center;
    justify-content: center;
}

p {
    height: 68%;
    font-size: 1.5rem;
    margin: 0;
    text-align: justify;
    padding-bottom: 1rem;
    overflow-y: scroll;
}

@media only screen and (max-width: 600px) {
    .ref-group {
        width: 80%;
    }
    h3 {
        height: 15%;
        font-size: 1.6rem;
    }

    h5 {
        height: 28%;
        font-size: 1.4rem;
    }

    p {
        height: 57%;
        font-size: 1.2rem;
    }
}

@media only screen and (orientation: landscape) {
    .ref-group {
        width: 28%;
    }
}