<div class="container">
    <h1>References</h1>
    <div id="refs">
        <a class="ref-group" href="https://prudmeri.hu" target="blank">
            <div id="image"><img src="./assets/image/prudmeri.png" alt="prudmeri"></div>
            <div class="ref-text">
                <h3>prudmeri.hu</h3>
                <h5>Webpage of Prűd Méri rock band</h5>
                <p>Classic HTML, CSS, Javascript based page. I'm really proud of the JS logic of the gallery. Hosted on
                    my own VPS.</p>
            </div>
        </a>
        <a class="ref-group" href="http://eskuvo.tothadi.hu" target="blank">
            <div id="image"><img src="./assets/image/eskuvo.ico" alt="eskuvo"></div>
            <div class="ref-text">
                <h3>Wedding page</h3>
                <h5>Invitation for my wedding</h5>
                <p>Since our wedding date had been too close when we had started organizing it I put together a simple
                    app for invitation and registration of guests.</p>
            </div>
        </a>
        <a class="ref-group" href="http://matchmakergame.tothadi.hu" target="blank">
            <div id="image"><img src="./assets/image/matchmaker.gif" alt="matchmaker"></div>
            <div class="ref-text">
                <h3>Matchmaker Game</h3>
                <h5>Self-designed and developed game</h5>
                <p>A simple matchmaker game developed in MEAN stack with authorization, personal and overall
                    scoreboards. Hosted on
                    my own VPS.</p>
            </div>
        </a>
        <a class="ref-group" routerLink="/rdf" routerLinkActive="active">
            <div id="image"><img src="./assets/image/merleg.png" alt="merleg"></div>
            <div class="ref-text">
                <h3>RDF Weightbridge</h3>
                <h5>Displaying data emitted by a weightbridge</h5>
                <p>The purpose of this small program is to show real-time weight data of incoming and outgoing garbage
                    trucks and to control the barriers on both sides. Two camera streams are implemented to show the
                    traffic for the client who controls the barriers. On the server side ffmpeg processes the rtsp
                    streams to send it to the client by socket-io. The weightbridge communicates through RS232 with an
                    ATC-1000 RS232/LAN converter. I use the TCP stream emitted by the ATC-1000 to fetch weights and send
                    them to the client by socket-io. Hosted on company VPS. The site is restricted to company employees.</p>
            </div>
        </a>
    </div>
</div>