<div class="container">
    <h1>References</h1>
    <div id="refs">
        <a class="ref-group" href="https://prudmeri.hu" target="blank">
            <div id="image"><img src="./assets/image/prudmeri.png" alt="prudmeri"></div>
            <div class="ref-text">
                <h3>prudmeri.hu</h3>
                <h5>Webpage of Prűd Méri rock band</h5>
                <p>Classic HTML, CSS, Javascript based page. I'm really proud of the JS logic of the gallery. Hosted on AWS.</p>
            </div>
        </a>
        <a class="ref-group" href="http://matchmakergame.tothadi.hu" target="blank">
            <div id="image"><img src="./assets/image/matchmaker.gif" alt="matchmaker"></div>
            <div class="ref-text">
                <h3>Matchmaker Game</h3>
                <h5>Self-designed and developed game</h5>
                <p>A simple matchmaker game developed in MEAN stack with authorization, personal and overall scoreboards. Hosted on Heroku.</p>
            </div>
        </a>
        <a class="ref-group" href="http://kozpont.zkn.hu" target="blank">
            <div id="image"><img src="./assets/image/merleg.png" alt="merleg"></div>
            <div class="ref-text">
                <h3>RDF Weightbridge</h3>
                <h5>Displaying data emitted by a weightbridge</h5>
                <p>The purpose of this small program is to show real-time weight data of incoming and outgoing garbage trucks and to store the weights with timestamp. The weightbridge communicates through RS232 with an ATC-1000 RS232/LAN converter. I use the TCP stream emitted by the ATC-1000 to fetch weights and save them to a MongoDB Cloud database. Hosted on my company's physical server with MS Windows Server 2016.</p>
            </div>
        </a>
    </div>
</div>