<div id="container">
    <h1>Send a message!</h1>
    <div *ngIf="submitted; then thenBlock else elseBlock"></div>

    <ng-template #thenBlock>
        <div id="screen">
            <dialog [ngClass]="{
                'message-sent': status === 2,
                'message-not-sent': status === 3,
                '': status === 1
              }" open>{{sent}}</dialog>
        </div>
    </ng-template>

    <ng-template #elseBlock>
        <form (ngSubmit)="sendMessage()">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="name" minlength="3" name="name"
                    placeholder="your name" #nameInput="ngModel">
                <div class="help error" *ngIf="nameInput.invalid && nameInput.dirty">
                    You have to provide a name at least 3 characters long.
                </div>
            </div>

            <div class="form-group">
                <label for="address">Email</label>
                <input type="text" class="form-control" id="address" required [(ngModel)]="address" email name="address"
                    placeholder="your email address" #addressInput="ngModel">
                <div class="help error" *ngIf="addressInput.invalid && addressInput.dirty">
                    You have to provide a valid email address.
                </div>
            </div>

            <div class="form-group">
                <label for="subject">Subject</label>
                <select class="form-control" id="subject" required [(ngModel)]="subject" name="subject"
                    #subjectInput="ngModel">
                    <option *ngFor="let subject of subjects" [value]=subject>{{subject}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="message">Message</label>
                <textarea class="textarea form-control" id="message" required [(ngModel)]="message" minlength="20"
                    name="message" placeholder="Please type in your message" #messageInput="ngModel"></textarea>
                <div class="help error" *ngIf="messageInput.invalid && messageInput.dirty">
                    Your message must be at least 20 characters long.
                </div>
            </div>

            <div id="sending">
                <div id="check" class="form-group">
                    <label for="copy">Send me a copy</label>
                    <input type="checkbox" [(ngModel)]="copy" [ngModelOptions]="{standalone: true}" id="copy">
                </div>
                <button type="submit" class="btn btn-success"
                    [disabled]="nameInput.invalid || addressInput.invalid || subjectInput.invalid || messageInput.invalid || submitted">Send</button>
            </div>
        </form>
    </ng-template>
</div>