.container {
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, .7);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
  text-shadow: .5px .5px rgba(100, 100, 100, .5);
  overflow-x: scroll;
}

#marketing {
  color: black;
  width: 90%;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: bold;
}

p {
  text-align: justify;
  font-size: 2rem;
  line-height: 3rem;
}

br {
  content: "";
  display: block;
  margin-top: 1rem;
}

ul {
  list-style-type: none;
  font-size: 1.8rem;
  padding-left: 1rem;
}

li:before {
  content: "-";
  padding-right: 8px;
}

@media only screen and (max-width: 500px) {
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}