.container {
    padding-top: 1rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, .7);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    text-shadow: .5px .5px rgba(100, 100, 100, .5);
    overflow-x: scroll;
}

img {
    height: 80%;
}