  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, .5);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    text-shadow: .5px .5px rgba(0, 0, 0, .5);
  }

  h1 {
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    color: black;
    text-shadow: 1px 1px rgba(100, 100, 100, .5);
  }

  #profile-pic {
    height: 20vh;
    max-width: 20vh;
    border-radius: 50%;
    border: none;
    background-color: #666;
    transition: all 0.5s ease-in-out;
    filter: grayscale(40%);
    z-index: 1;
    cursor: pointer;
  }

  #profile-pic:hover {
    transform: scale(1.2);
    filter: grayscale(10%);
  }

  p {
    text-align: justify;
    font-size: 2rem;
    line-height: 3rem;
  }

  @media only screen and (max-width: 500px) {
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 1.2rem;
      line-height: 2rem;
    }
  }